.box{
  width: 275px;
  display: flex;
  height:20%;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 20px;
  box-sizing: border-box;
  align-items: center;
  background: #d8d8d8;
}
.common{
  color:red
}
